/**
 * @file
 * Styles to make the page look like a wireframe.
 */

/**
 * CSS Custom properties for colors and other variables.
 */
:root {
  --color--black: #282829;
  --color--grey-dark: #58595B;
  --color--grey: #58595B;
  --color--grey-light: #f5f5f5;
  --color--white: #fff;
}

/**
 * Fonts imported early and directly.
 *
 * Only include fonts that are known to be used, since each is an asset to load.
 * font-display: swap; is used to prevent text from being hidden on load.
 * We list src in preference order: local, woff2, then woff
 *
 * @see https://google-webfonts-helper.herokuapp.com/fonts
 */

@font-face {
  font-display: swap;
  font-family: 'Redacted script';
  font-style: normal;
  font-weight: 300;
  src: local('Redacted script'),
  url('fonts/redacted/redacted-script-light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Redacted script';
  font-style: normal;
  font-weight: 400;
  src: local('Redacted script'),
  url('fonts/redacted/redacted-script-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Redacted script';
  font-style: normal;
  font-weight: 500;
  src: local('Redacted script'),
  url('fonts/redacted/redacted-script-bold.woff2') format('woff2');
}

/**
 * Font family declarations, all in one place and early.
 *
 * Let's keep all font-family calls right here, so it's manageable. Even classes
 * if necessary.
 */
html,
button,
input,
select,
textarea {
  font-family: "Redacted script", Arial, sans-serif !important;
}

body,
.font-family--primary {
  font-family: "Redacted script", Arial, sans-serif !important;
}

/**
 * Often the headings and other sparing elements take a second font family.
 *
 * CSSLint and other tools might squawk at double-declaring <h*> tags, but this
 * puts all the font-family declarations in one place, which feels good.
 */
h1,
h2,
h3,
h4,
h5,
h6,
label,
th,
.font-family--secondary,
.menu--main {
  font-family: "Redacted script", Arial, Helvetica, sans-serif !important;
}

/**
 * Some sites have Monospace text for code samples and the like.
 */
code,
kbd,
pre,
samp,
.font-family--monospace {
  font-family: "courier new", monospace;
}

/**
 * Set HTML5 elements to block, in case a browser doesn't do this.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

/**
 * Normalize and bugfix for some HTML5 media elements.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
audio,
canvas,
embed,
iframe,
img,
object,
picture,
svg,
video {
  max-width: 100%;
}

* {
  background: #fc0 !important;
}

/**
 * The HTML wrapping tag takes some very general styles. Normalize some rendering.
 */
html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

/**
 * The body tag should take the site's universal styles.
 *
 * rem is based on this font-size dec, so only change if you're sure about the
 * type scale.
 * The body line-height should be one of only a handful of [unitless] line-height
 * declarations in the CSS codebase.
 */
body {
  background: #fff;
  color: var(--color--grey-dark);
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.375;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/**
 * Links.
 *
 * Links should have set, at a minimum, :link, :visited, :hover, :active, :focus
 *
 * We note to designers that blue links are a good signifier for the affordance.
 * Visited links in a vacuum should look different than unvisited ones.
 * Hover, active, and focus states should look different than stateless links.
 */
a {
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
a:link {
  color: var(--color--main);
  text-decoration: underline;
}
a:visited {
  color:var(--color--main-dark);
}
a:hover {
  color: var(--color--main-light);
}
a:active {
  color: var(--color--main-light);
}
a:focus {
  outline: 0 none;
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/**
 * Abbreviations, semi-deprecated. Used in Drupal 8 and overridden here.
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}
abbr.tabledrag-changed, abbr.ajax-changed {
  border-bottom: none;
}

/**
 * Address elements are often italicized by the user agent, so this normalizes.
 */
address {
  font-style: normal;
  text-align: left;
}

/**
 * Bold text.
 *
 * Semantically, <b> and <strong> are different, but presentationally they are
 * the same or similar.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Base blockquotes before classing.
 */
blockquote {
  border-top: 1px solid;
  border-bottom: 1px solid;
  box-sizing: border-box;
  font-size: 1.4em;
  margin: 0;
  padding: 1em 2em;
  position: relative;
}
blockquote::before,
blockquote::after {
  content: '';
  display: none;
  font-size: 10em;
  font-weight: bold;
  line-height: 0;
  opacity: .25;
  position: absolute;
  z-index: 1;
}
@media all and (max-width: 1023px) {
  blockquote {
    font-size: 1.25em;
    padding: 1em 0;
  }
}

/**
 * The monospace and <pre> elements.
 *
 * The font-family has already been declared above, so this is just the
 * text treatments.
 */
code,
kbd,
pre,
samp {
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Definition lists. They're a big waste of time usually.
 */
dd {
  margin: 0 0 0 40px;
}
dfn {
  font-style: italic;
}

/**
 * Accordions.
 *
 * The <details> element has inconsistent browser support and styling, and is
 * not readily animated, so this should only be our accordion solution for simple
 * use cases.
 */
details {
  border-bottom: 1px solid;
  margin: 10px 0;
  padding: 5px 15px;
  text-align: left;
  position: relative;
}
details > summary {
  display: block;
  cursor: pointer;
  font-weight: 600;
  padding: 0 36px 0 0;
}
details > summary:focus {
  outline: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  display: none;
}
details > summary::after {
  color: var(--color--grey-dark);
  content: '\2304';
  font-size: 30px;
  line-height: 1;
  position: absolute;
  right: 24px;
  top: -5px;
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
details[open] > summary {
  margin-bottom: 20px;
}
details[open] > summary:after {
  top: 10px;
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
}

/**
 * Let's give divs box-sizing: border-box so we don't have to redeclare.
 */
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Figures and their captions.
 *
 * Used as wrapping elements in media-containing components.
 */
figure {
  display: inline-block;
  min-width: 1px;
  margin: 0;
  max-width: 100%;
}
figcaption {
  color: var(--color--grey-dark);
  font-size: .75em;
}

/**
 * Headings h1-h6.
 *
 * Each set has a main declaration (plus a class for use later), then for <h1>
 * and <h2> there are @media queries to reduce their size for mobile, then
 * universal decs that make the links within headings take their color rather
 * than the default link colors.
 * All the heading elements have no margin, so spacer components are used for
 * vertical rhythm.
 */
h1,
.heading--h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
@media all and (max-width: 770px) {
  h1,
  .heading--h1 {
    font-size: 1.85em;
  }
}
h1 > a:link,
h1 > a:visited {
  color: inherit;
  text-decoration: inherit;
}

/**
 * In practice, <h2> elements on the site are the same size as <h1>, except for
 * the hero on the home page.
 */
h2,
.heading--h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
@media all and (max-width: 770px) {
  h2,
  .heading--h2 {
    font-size: 1.85em;
  }
}
h2 > a:link,
h2 > a:visited {
  color: inherit;
  text-decoration: inherit;
}

h3,
.heading--h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
h3 > a:link,
h3 > a:visited {
  color: inherit;
  text-decoration: inherit;
}

h4,
.heading--h4 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
h4 > a:link,
h4 > a:visited {
  color: inherit;
  text-decoration: inherit;
}

h5,
.heading--h5 {
  font-size: .85em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
h5 > a:link,
h5 > a:visited {
  color: inherit;
  text-decoration: inherit;
}

h6,
.heading--h6 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}
h6 > a:link,
h6 > a:visited {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Horizontal rules.
 *
 * Link other text-level elements, the <hr> has the minimal amount of acceptable
 * spacing, such that spacer components can be used for vertical rhythm.
 *
 * For cross-browser, the height is set rather than the border.
 */
hr {
  background-color: var(--color--grey-dark);
  border-width: 0;
  color: var(--color--grey-dark);
  height: 1px;
  line-height: 0;
  margin: 10px 0;
}

/**
 * iframes.
 *
 * Let's put borders on 'em, unless they don't need them in the theme.
 */
iframe {
  border: 1px solid var(--color--grey-light);
}

/**
 * Images.
 *
 * Since they have a max-width of 100%, the height: auto is truly important.
 * There's a render prop for old version of IE.
 * And the display and line-height props are normalize-ish for spacing.
 */
img {
  border: 0;
  display: block;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
  line-height: 0;
}

mark,
.marker {
  color: var(--color--accent);
}

p {
  margin: 0 0 10px;
  max-width: 75ch;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
p:last-child {
  margin-bottom: 0;
}
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Browser targeting hack. */
  p {
    max-width: 100ch;
  }
}

/**
 * Quotes, non-block.
 *
 * These might not be used in any of our sites ever, so ignore and keep moving.
 */
q {
  quotes: none;
}
q::before, q::after {
  content: "";
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

/**
 * A quick normalize for SVG that I don't really understand.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Table */
table {
  background-color: var(--color--white);
  border-spacing: 0;
  margin: 0;
  text-align: left;
  border: 1px solid var(--color--grey);
}
td, th {
  padding: 5px 10px;
  border: 1px solid var(--color--grey);
}
th {
  font-weight: 600;
}
[colspan] {
  padding: 10px;
  text-align: center;
}
thead {
  background-color: var(--color--main-dark);
  color: var(--color--white);
}
thead th:not(:last-child) {
  border-right: 1px solid var(--color--grey);
}
tbody th {
  background-color: var(--color--grey-light);
  border-bottom: 1px solid var(--color--grey);
  color: var(--color--grey-dark);
  padding: 5px 10px 20px;
  vertical-align: top;
}
tbody td {
  border-bottom: 1px solid var(--color--grey);
  vertical-align: top;
}
tbody td:not(:last-child) {
  border-right: 1px solid var(--color--grey);
}

/**
 * Number and bullet lists.
 *
 * Lists are set to hang; typographically to maintain the same vertical line as
 * the rest of the text, and for the bullets to be left of the content container.
 * Lists within lists (nested) are then indented so the bullets/numbers line up
 * with the previous text, and the new text is indented.
 *
 * @see https://markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2
 */
ul,
ol {
  margin: 0 0 0 1.2em;
  padding: 0;
}
ul ul,
ol ul {
  padding: 0 0 0 1.2em;
}

/**
 * Ensure <video> tags are responsive like <img> tags.
 */
video {
  height: auto;
}

/********************************** FORMS *************************************/

/**
 * Input elements, general styling.
 */
::-webkit-input-placeholder {
  color: var(--color--grey);
}
:-moz-placeholder {
  color: var(--color--grey);
}
::-moz-placeholder {
  color: var(--color--grey);
}
:-ms-input-placeholder {
  color: var(--color--grey);
}
::-ms-input-placeholder {
  color: var(--color--grey);
}
::placeholder {
  color: var(--color--grey);
}
button,
input,
select,
textarea {
  background: var(--color--white);
  border: 1px solid var(--color--main);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--color--main);
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
  padding: 8px 10px;
  vertical-align: middle;
}
/* Hack because Firefox renders the inputs wrong. */
@supports (-moz-appearance:meterbar) {
  input {
    padding: 11px 10px;
  }
}
input[size] {
  max-width: 415px;
  width: 100%;
}
@media all and (max-width: 670px) {
  button,
  input,
  select,
  textarea {
    max-width: 280px;
  }
}

textarea {
  max-height: inherit;
}

button,
input {
  line-height: 1;
}

select {
  max-width: 100%;
}
@media all and (max-width: 670px) {
  select {
    max-width: 280px;
  }
}

.child-links--as-buttons a,
.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--color--main);
  border-color: transparent;
  color: var(--color--white);
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 0 20px 20px 0;
  padding: 11px 40px;
  text-align: center;
  text-decoration: none;
}
.child-links--as-buttons a:hover,
.button:hover,
a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: var(--color--grey);
}
.child-links--as-buttons a:active,
.button:active,
a.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: var(--color--grey);
}
.child-links--as-buttons a:focus,
.button:focus,
a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 1px dashed;
  outline-offset: 1px;
}
.child-links--as-buttons a.disabled, .child-links--as-buttons a[disabled],
.button.disabled,
.button[disabled],
a.button.disabled,
a.button[disabled],
button.disabled,
button[disabled],
input[type="button"].disabled,
input[type="button"][disabled],
input[type="reset"].disabled,
input[type="reset"][disabled],
input[type="submit"].disabled,
input[type="submit"][disabled] {
  background-color: var(--color--grey);
  color: var(--color--grey);
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="file"] {
  padding: 2px;
}

input[type="file"]::-webkit-file-upload-button {
  font-size: 0.95em;
  margin: 0;
}

input[type="image"] {
  border: 0 none;
}

form {
  text-align: left;
}
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0;
}
form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: 5px;
}
form .field-add-more-submit {
  margin: 5px 0 0;
}

label,
.form-composite > legend {
  color: var(--color--grey);
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 3px;
  text-transform: uppercase;
}
label.option {
  display: inline-block;
  font-weight: normal;
  margin: 0 5px;
}

.description {
  font-size: 0.85em;
}

.form-actions, .form-item {
  margin: 0 0 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.form-actions input.error,
.form-actions textarea.error,
.form-actions select.error, .form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid var(--color--third);
}
.form-actions--error-message::before, .form-item--error-message::before {
  content: '';
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: sub;
  background: url('/core/misc/icons/e32700/error.svg') no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.form-checkboxes .form-item, .form-radios .form-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-composite > legend {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.form-required::after {
  content: '*';
  display: inline-block;
  margin: 0 0 0 2px;
  vertical-align: super;
}
.form-type-checkbox .description, .form-type-radio .description {
  margin-left: 2.4em;
}
.form-type-item {
  font-weight: 700;
}
.form-type-item label {
  display: inline-block;
}

.label {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
