/**
 * @file
 * Styles to make the page look like a wireframe.
 */

/**
 * CSS Custom properties for colors and other variables.
 */
:root {
  --color--black: #282829;
  --color--grey-dark: #58595B;
  --color--grey: #58595B;
  --color--grey-light: #f5f5f5;
  --color--white: #fff;
}

/**
 * Fonts imported early and directly.
 *
 * Only include fonts that are known to be used, since each is an asset to load.
 * font-display: swap; is used to prevent text from being hidden on load.
 * We list src in preference order: local, woff2, then woff
 *
 * @see https://google-webfonts-helper.herokuapp.com/fonts
 */
@font-face {
  font-display: swap;
  font-family: 'Redacted script';
  font-style: normal;
  font-weight: 300;
  src: local('Redacted script'),
  url('chrome-extension://__MSG_@@extension_id__/css/fonts/redacted/redacted-script-light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Redacted script';
  font-style: normal;
  font-weight: 400;
  src: local('Redacted script'),
  url('chrome-extension://__MSG_@@extension_id__/css/fonts/redacted/redacted-script-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Redacted script';
  font-style: normal;
  font-weight: 500;
  src: local('Redacted script'),
  url('chrome-extension://__MSG_@@extension_id__/css/fonts/redacted/redacted-script-bold.woff2') format('woff2');
}

/**
 * Font family declarations, all in one place and early.
 *
 * Let's keep all font-family calls right here, so it's manageable. Even classes
 * if necessary.
 */
html,
button,
input,
select,
textarea {
  font-family: "Redacted script", Arial, sans-serif !important;
}

body,
.font-family--primary,
*,
html body * {
  font-family: "Redacted script", Arial, sans-serif !important;
}

/**
 * Often the headings and other sparing elements take a second font family.
 *
 * CSSLint and other tools might squawk at double-declaring <h*> tags, but this
 * puts all the font-family declarations in one place, which feels good.
 */
h1,
h2,
h3,
h4,
h5,
h6,
label,
th,
.font-family--secondary,
.menu--main {
  font-family: "Redacted script", Arial, Helvetica, sans-serif !important;
}

/**
 * Some sites have Monospace text for code samples and the like.
 */
code,
kbd,
pre,
samp,
.font-family--monospace {
  font-family: "courier new", monospace;
}

/**
 * Declarations for all elements.
 */
* {

}

/**
 * HTML root element. Doesn't take all styles.
 */
html {
  filter: grayscale(1);
}

/**
 * The body tag should take the site's universal styles.
 *
 * rem is based on this font-size dec, so only change if you're sure about the
 * type scale.
 * The body line-height should be one of only a handful of [unitless] line-height
 * declarations in the CSS codebase.
 */
body {
  background: #fff;
  color: var(--color--grey-dark);
  scroll-behavior: smooth;
}

/**
 * iframes.
 *
 * Let's put borders on 'em, unless they don't need them in the theme.
 */
iframe {
  border: 1px solid var(--color--grey-light);
}

/**
 * Images.
 *
 * Since they have a max-width of 100%, the height: auto is truly important.
 * There's a render prop for old version of IE.
 * And the display and line-height props are normalize-ish for spacing.
 */
img {
  border: 2px var(--color--grey) solid;
  -ms-interpolation-mode: bicubic;
  filter: grayscale(1) blur(3px);
}
